@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.back-button{
    
}

.no-display{
    display: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    box-sizing: border-box
}

input, label, select, button, textarea {
    background: none;
    border: 0;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: normal
}

input:focus {
    outline: 0
}

::-webkit-search-decoration {
    display: none
}

button, input[type=reset], input[type=button], input[type=submit] {
    overflow: visible;
    width: autu
}

::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none
}

textarea {
    vertical-align: top;
    overflow: auto
}

select[multiple] {
    vertical-align: top
}

@font-face {
    font-family: DINPro;
    font-weight: 300;
    src: local("DINPro Light"), url(../fonts/DINPRO/DINPro-Light.woff) format("woff")
}

@font-face {
    font-family: DINPro;
    src: local("DINPro Medium"), url(../fonts/DINPRO/DINPro-Medium.woff) format("woff")
}

@font-face {
    font-family: DINPro;
    font-weight: 700;
    src: local("DINPro Bold"), url(../fonts/DINPRO/DINPro-Bold.woff) format("woff")
}

@font-face {
    font-family: DINPro;
    font-weight: 900;
    src: local("DINPro Black"), url(../fonts/DINPRO/DINPro-Black.woff) format("woff")
}

html {
    overflow-x: hidden
}

body {
    background: #fff;
    color: #141719;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-variant-ligatures: none;
    font-weight: 400;
    line-height: 26px;
    min-width: 320px;
    overflow-x: hidden
}

a {
    color: inherit;
    text-decoration: none
}

pre {
    background: #fff;
    color: #141719;
    font-family: monospace
}

b, strong {
    font-weight: 700
}

.logo {
    display: block
}

.logo .logo__heading {
    display: inline-block;
    height: inherit;
    vertical-align: top;
    width: auto
}

.logo .logo__image {
    display: block;
    height: inherit;
    width: inherit
}

.button {
    background: #141719;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 39px;
    line-height: 39px;
    padding: 0 26px
}

.button:hover {
    background: #1f2427
}

.button--size-small {
    font-size: 14px;
    height: 32.5px;
    line-height: 32.5px;
    padding: 0 19.5px
}

@media(max-width:639px) {
    .button {
        font-size: 14px;
        height: 32.5px;
        line-height: 32.5px;
        padding: 0 19.5px
    }
}

.input-wrapper {
    position: relative
}

.input {
    border-bottom: 1px solid #b0b9bd;
    color: #141719;
    display: block;
    font-size: 16px;
    height: 52px;
    line-height: 39px;
    padding-left: 6.5px;
    padding-top: 13px;
    width: 100%
}

.input+.label {
    color: #5d6970;
    display: block;
    left: 6.5px;
    position: absolute;
    top: 26px;
    transition: transform .2s ease-out
}

.input.active+.label, .input:focus+.label, .input:not(:placeholder-shown)+.label {
    transform: translateY(-150%) scale(.75);
    transform-origin: 6.5px 0
}

.input:disabled {
    border-color: rgba(255, 255, 255, 0)!important
}

.label-checkbox {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex
}

.label-checkbox .checkbox {
    margin-right: 8px
}

.label-checkbox a {
    color: #000;
    text-decoration: underline
}

.message {
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #b0b8bc;
    border-radius: 8px;
    color: #727272;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    height: 39px;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 37px;
    text-align: center
}

.message__image {
    display: inline-block;
    margin-right: 10px
}

@media(min-width:640px) {
    .message {
        font-size: 18px
    }
}

.plans-item {

    display:none;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .04);
    display: -ms-grid;
    display: grid
}

.plans-item__information {
    display: none
}

@media(min-width:884px) {
    .plans-item {
        -ms-grid-columns: 336px auto;
        grid-template-columns: 336px auto
    }
    .plans-item__information {
        -ms-grid-column: span 2;
        grid-column: span 2
    }
}

.plans-item--information-open .plans-item__information {
    display: block!important
}

.plans-item--information-open .plans-item__description {
    border-bottom: 1px solid #e9ebec
}

.plans-item--information-open .plans-item__more-info:after {
    transform: translateY(-50%) rotate(180deg)!important
}

@media(min-width:884px) {
    .plans-item--information-open .plans-item__header {
        border-radius: 8px 0 0
    }
}

.plans-item__header {
    border-radius: 8px 8px 0 0;
    color: #fff;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 13px;
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    padding: 19.5px
}

.plans-item__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    grid-column: 1/2;
    grid-row: 1/2;
    line-height: 26px;
    white-space: nowrap
}

.plans-item__title small {
    display: block;
    font-size: 14px;
    font-weight: 400
}

.plans-item__channels {
    grid-column: 1/3;
    line-height: 19.5px
}

.plans-item__button-wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end
}

@media(min-width:640px) {
    .plans-item__title {
        font-size: 54px;
        line-height: 39px
    }
    .plans-item__title small {
        font-size: 18px;
        padding-left: 10px
    }
    .plans-item__title--size-medium {
        font-size: 44px
    }
    .plans-item__channels {
        font-size: 22px;
        line-height: 26px
    }
}

@media(min-width:884px) {
    .plans-item__header {
        -ms-flex-align: start;
        align-items: start;
        background: green;
        border-radius: 8px 0 0 8px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 39px 32.5px
    }
}

.plans-item__description-header {
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e9ebec;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 19.5px
}

.plans-item__more-info {
    display: inline-block;
    font-size: 14px;
    margin-top: 13px;
    padding-right: 20px;
    position: relative
}

.plans-item__more-info:after {
    border-color: #141719 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0
}

.plans-item__price {
    font-size: 32px;
    line-height: 32.5px
}

.plans-item__price-number {
    display: inline-block;
    font-weight: 700;
    margin: 0 5px
}

.plans-item__price-symbol {
    font-weight: 700
}

.plans-item__price-symbol, .plans-item__price-lapse {
    font-size: .56em;
    position: relative;
    top: -5px;
    vertical-align: text-top
}

.plans-item__description-content {
    color: #5d6970;
    font-size: 14px;
    line-height: 22.75px;
    padding: 19.5px
}

.plans-item__description-content ul {
    list-style: '• ';
    list-style-position: inside
}

.plans-item__description-content small {
    display: block;
    font-size: 12px;
    margin-top: 26px
}

@media(min-width:480px) {
    .plans-item__description-header {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .plans-item__more-info {
        margin: 0
    }
}

@media(min-width:884px) {
    .plans-item__description-header {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        padding: 32.5px 39px
    }
    .plans-item__price {
        font-size: 52px;
        line-height: 52px
    }
    .plans-item__price-number {
        margin: 0 10px
    }
    .plans-item__description-content {
        padding: 26px 39px
    }
}

.plans-item__compare {
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e9ebec;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 19.5px
}

.plans-item__compare>*:first-child {
    margin-bottom: 13px
}

.plans-item__include {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 6.5px;
    grid-row-gap: 19.5px;
    padding: 19.5px
}

.plans-item__box {
    border: 1px solid #cdd1d4;
    border-radius: 8px;
    padding: 26px 6.5px;
    text-align: center
}

.plans-item__box-title {
    color: #5d6970;
    font-weight: 700
}

.plans-item__box-number {
    font-size: 24px;
    font-weight: 700
}

.plans-item__include-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center
}

.plans-item__include-channels {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: end
}

.plans-item__include-channels>*:first-child {
    margin-bottom: 13px
}

.plans-item__include-content {
    color: #5d6970;
    font-size: 12px;
    line-height: 22.75px
}

.plans-item__include-content h4 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 13px
}

.plans-item__include-content ul {
    list-style-image: url(../images/check.svg);
    list-style-position: inside
}

@media(min-width:480px) {
    .plans-item__compare {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .plans-item__compare>*:first-child {
        margin-bottom: 0
    }
    .plans-item__include {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 32.5px
    }
    .plans-item__include-title {
        -ms-grid-column: span 2;
        grid-column: span 2
    }
    .plans-item__include-channels {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-grid-column: span 2;
        grid-column: span 2;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .plans-item__include-channels>*:first-child {
        margin-bottom: 0
    }
    .plans-item__include-content {
        -ms-grid-column: span 2;
        grid-column: span 2
    }
}

@media(min-width:640px) {
    .plans-item__compare {
        padding: 32.5px
    }
    .plans-item__include-title {
        font-size: 26px;
        font-weight: 700
    }
}

@media(min-width:884px) {
    .plans-item__include {
        grid-column-gap: 6.5px;
        grid-row-gap: 39px;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 32.5px
    }
    .plans-item__include-title {
        -ms-grid-column: span 2;
        grid-column: span 2;
        justify-self: start
    }
    .plans-item__include-channels {
        -ms-grid-column: span 2;
        grid-column: span 2;
        justify-self: end
    }
    .plans-item__include-channels>*:first-child {
        margin-right: 20px
    }
    .plans-item__include-content {
        -ms-grid-column: span 4;
        grid-column: span 4
    }
}

.plans-item--color-gold .plans-item__header {
    background: #52e36f
}

.plans-item--color-silver .plans-item__header {
    background: #9842e3
}

.plans-item--color-bronze .plans-item__header {
    background: #2e51dc
}

.header {
    background-color: #00aeef;
    padding: 26px 0 19.5px
}

.header__inner {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%
}

.header__logo {
    height: 26px
}

@media(min-width:1024px) {
    .header__logo {
        height: 32.5px
    }
}

.footer {
    background-color: #00aeef;
    padding: 26px 0;
    text-align: center
}

.footer__inner {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%
}

.footer__logo {
    height: 19.5px;
    margin-bottom: 13px
}

.footer__text {
    color: #fff
}

.footer__nowrap {
    white-space: nowrap
}

.footer__tel {
    font-weight: 700
}

.footer__separator {
    display: none
}

@media(min-width:1024px) {
    .footer {
        padding: 52px 0
    }
    .footer__logo {
        height: 26px;
        margin-bottom: 19.5px
    }
    .footer__text {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center
    }
    .footer__separator {
        display: block;
        padding: 0 6.5px
    }
}

.steps-header {
    padding: 26px 0
}

.steps-header__inner {
    margin: 0 auto;
    width: 90%
}

.steps-header__title {
    font-family: DINPro, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 32.5px;
    margin-bottom: 26px;
    text-align: center
}

.steps-header__list {
    position: relative
}

.steps-header__list:before {
    background: #b0b8bc;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    top: 14px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1
}

.steps-header__item {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.steps-header__number {
    background: #fff;
    padding: 0 19.5px;
    position: relative;
    z-index: 2
}

.steps-header__circle {
    -ms-flex-align: center;
    align-items: center;
    background: #b0b8bc;
    border-radius: 50%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    height: 28px;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 18px;
    text-align: center;
    transition: background .3s;
    width: 28px
}

.steps-header__text {
    color: #b0b8bc;
    font-size: 18px;
    margin-top: 6.5px
}

.steps-header__item--state-active .steps-header__circle {
    background: #00aeef
}

.steps-header__item--state-active .steps-header__text {
    color: #00aeef;
    font-weight: 700
}

@media(max-width:1023px) {
    .steps-header__item {
        display: none
    }
    .steps-header__item--state-active {
        display: -ms-flexbox;
        display: flex
    }
}

@media(min-width:1024px) {
    .steps-header {
        padding: 52px 0
    }
    .steps-header__inner {
        width: 864px
    }
    .steps-header__title {
        font-size: 62px;
        margin-bottom: 65px
    }
    .steps-header__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .steps-header__list:before {
        width: 66%
    }
    .steps-header__item {
        width: 33%
    }
}

.steps {
    background: #f8f8f8;
    padding: 26px 0
}

.steps__inner {
    margin: 0 auto;
    width: 90%
}

.steps__item {
    display: none
}

.steps__item--state-active {
    display: block
}

@media(min-width:1024px) {
    .steps {
        padding: 39px 0
    }
    .steps__inner {
        margin: 0 auto;
        width: 864px
    }
}

.plans {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 26px
}

@media(min-width:1024px) {
    .plans {
        grid-row-gap: 39px
    }
}

.form {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 19.5px
}

.form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px
}

.form__row--margin-extra {
    margin-bottom: 26px
}

.form__row--selected-plan {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: start
}

.form__row--selected-plan>*:first-child {
    margin-right: 10px
}

.form__row--size-full {
    grid-column: -1/1
}

.form__seleted-plan-text {
    font-size: 14px;
    font-weight: 700
}

@media(min-width:640px) {
    .form {
        grid-column-gap: 32.5px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr
    }
    .form__title {
        font-size: 26px;
        line-height: 32.5px
    }
}

.thankyou {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 26px
}

.thankyou__icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center
}

.thankyou__image {
    display: inline-block;
    height: 104px;
    width: auto
}

.thankyou__title {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    line-height: 32.5px;
    margin-top: 26px
}

.thankyou__subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 13px
}

.thankyou__edit-image {
    display: inline-block;
    vertical-align: baseline
}

.thankyou__data-table {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 13px;
    grid-row-gap: 13px
}

.thankyou__text {
    border-top: 1px solid #f0f0f0;
    padding-top: 26px
}

@media(min-width:480px) {
    .thankyou__data-table {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr
    }
}

@media(min-width:640px) {
    .thankyou {
        grid-column-gap: 52px;
        grid-row-gap: 52px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 26px
    }
    .thankyou__icon {
        grid-column: 1/-1;
        margin-bottom: 26px
    }
    .thankyou__image {
        height: 156px
    }
    .thankyou__title {
        font-size: 48px
    }
    .thankyou__subtitle {
        font-size: 26px;
        line-height: 32.5px;
        margin-bottom: 32.5px
    }
    .thankyou__text {
        grid-column: 1/-1;
        padding-top: 52px
    }
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #cdd1d4;
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    left: -100000px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 13px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap
}

.select2-results__option[aria-selected] {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    background-color: #fff;
    border: 0;
    display: block;
    filter: alpha(opacity=0);
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 0;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 99
}

.select2-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    white-space: nowrap!important;
    width: 1px!important
}

.select2-container--default .select2-selection--single {
    background-color: none;
    border: 1px solid #cdd1d4;
    border-radius: 8px;
    display: block;
    text-align: left
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #5d6970
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #fff;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000;
    border-width: 0 4px 5px
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 10px;
    padding: 1px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline {
    float: right
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #cdd1d4
}

.select2-container--default .select2-search--inline .select2-search__field {
    -webkit-appearance: textfield;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: 0
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fafafa
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

select+.select2 {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 180px;
    width: auto!important
}

select+.select2 .select2-selection {
    height: 52px;
    line-height: 50px;
    padding: 0 13px
}

select+.select2 .select2-selection__arrow {
    height: 50px;
    right: 13px
}

select.select2--size-small+.select2 {
    font-size: 14px
}

select.select2--size-small+.select2 .select2-selection {
    height: 32.5px;
    line-height: 30.5px;
    padding: 0 6.5px
}

select.select2--size-small+.select2 .select2-selection__arrow {
    height: 30.5px;
    right: 6.5px
}

select.select2--size-big+.select2 .select2-selection {
    height: 65px;
    line-height: 63px;
    padding: 0 26px
}

select.select2--size-big+.select2 .select2-selection__arrow {
    height: 63px;
    right: 26px
}

select.select2--display-block+.select2 {
    display: block;
    width: 100%!important
}

.select2-container {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif
}

.select2-container .select2-results__option--highlighted[aria-selected] {
    background: #f8f8f8
}

select.select2+.select2-container--material {
    border-bottom: 1px solid #b0b9bd;
    font-size: 16px;
    padding: 0;
    width: 100%!important
}

select.select2+.select2-container--material .select2-selection {
    padding: 0!important
}

select.select2+.select2-container--material .select2-selection__rendered {
    padding: 0!important;
    padding-left: 6.5px!important
}

select.select2+.select2-container--material .select2-selection__arrow {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px
}

select.select2+.select2-container--material .select2-selection__arrow b {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

select.select2+.select2-container--material.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000;
    border-width: 0 4px 5px
}